;Ansible managed, Don't modify manually


[tapioca]
; Defaults
  pm.max_spare_servers = 3
  pm.min_spare_servers = 1
  pm.start_servers = 2
  listen = 127.0.0.1:9000
  pm.max_children = 5
  pm = dynamic

; Pool custom directives
  chdir = /
  group = www-data
  user = www-data
  listen = 127.0.0.1:9000

; environment varaibles
#! /bin/bash 
{% for environment_item in deployment_env_vars %}
    env[{{ environment_item.key }}]='{{ environment_item.value }}'
{% endfor %}